<div class="l-common">
  <ul class="">
    <li class="">
    </li>
  </ul>
</div>
</div><!-- l-wrap -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>