  <div class="p-common__fixedLink">
    <div class="p-common__linkBox">
      <div class="p-common__linkItem">
        <a href="#">説明会情報</a>
      </div>
      <div class="p-common__linkItem">
        <a href="#">動画ギャラリー</a>
      </div>
      <div class="p-common__linkItem">
        <a href="#">募集要項</a>
      </div>
      <div class="p-common__linkItem">
        <a href="#">学校案内</a>
      </div>
    </div>
  </div>
</div><!-- l-wrap -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>