<header class="l-header">
  <div class="l-header__title">
    <div class="l-header__logo"><div>
    <div class="l-header__highSchool">
      <h1 class="l-header__schoolName">八代正院高等学校</h1>
      <h2 class="l-header__nameLowercase">Yashirosyoin Gakuen</h2>
    </div>
    <div class="l-header__menu">
      <nav class="p-menu__sub">
        <ul class="p-menu__subList">
          <li class="p-menu__subItem">
            <div class="p-menu__subIcon">
            </div>
            <a class="p-menu__subLink" href="#">交通アクセス</a>
          </li>
          <li class="p-menu__subItem">
            <div class="p-menu__subIcon">
            </div>
            <a class="p-menu__subLink" href="#">在校生の方へ</a>
          </li>
          <li class="p-menu__subItem">
            <div class="p-menu__subIcon">
            </div>
            <a class="p-menu__subLink" href="#">卒業生の方へ</a>
          </li>
          <li class="p-menu__subItem">
            <div class="p-menu__subIcon">
            </div>
            <a class="p-menu__subLink" href="#">資料請求・お問い合わせ</a>
          </li>
          <li class="p-menu__subItem">
            <div class="p-menu__subIcon">
            </div>
            <a class="p-menu__subLink" href="#">採用情報</a>
          </li>
        </ul>
      </nav>
      <nav class="p-menu__main">
        <ul class="p-menu__list">
          <li class="p-menu__item">
            <div class="p-menu__link">TOP</div>
          </li>
          <li class="p-menu__item">
            <div class="p-menu__link">コース紹介</div>
            <div class="p-menu__toggle">
              <a class="p-menu__topic" href="#">英数特進コース</a>
              <a class="p-menu__topic" href="#">進学コース</a>
              <a class="p-menu__topic" href="#">国際コース</a>
            </div>
          </li>
          <li class="p-menu__item">
            <div class="p-menu__link">教育内容</div>
            <div class="p-menu__toggle">
              <a class="p-menu__topic" href="#">国際交流</a>
              <a class="p-menu__topic" href="#">土曜講座</a>
              <a class="p-menu__topic" href="#">ICT</a>
              <a class="p-menu__topic" href="#">進学実績</a>
            </div>
          </li>
          <li class="p-menu__item">
            <div class="p-menu__link">学校生活</div>
            <div class="p-menu__toggle">
              <a class="p-menu__topic" href="#">クラブ活動紹介</a>
              <a class="p-menu__topic" href="#">行事紹介</a>
              <a class="p-menu__topic" href="#">制服紹介</a>
              <a class="p-menu__topic" href="#">生徒の1日</a>
              <a class="p-menu__topic" href="#">施設紹介</a>
            </div>
          </li>
          <li class="p-menu__item">
            <div class="p-menu__link">受験生の方</div>
            <div class="p-menu__toggle">
              <a class="p-menu__topic" href="#">募集要項</a>
              <a class="p-menu__topic" href="#">説明会日程</a>
              <a class="p-menu__topic" href="#">よくある質問</a>
              <a class="p-menu__topic" href="#">学校案内</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>