<header class="l-header">
  <div class="l-header__inner clearfix">
    <div class="l-header__titleWrap">
      <div class="l-header__logo"></div>
      <div class="l-header__title">
        <h1 class="l-header__schoolName">八代正院高等学校</h1>
        <h2 class="l-header__nameLowercase">Yashirosyoin Gakuen</h2>
      </div>
    </div>
    <div class="p-menu__header">
      <ul class="p-menu__schoolList">
        <li class="p-menu__schoolItem">
          <a class="p-menu__schoolLink" href="#">総合TOP</a>
        </li>
        <li class="p-menu__schoolItem">
          <a class="p-menu__schoolLink" href="#">八代正院中学校</a>
        </li>
        <li class="p-menu__schoolItem">
          <a class="p-menu__schoolLink" href="#">八代正院高等学校</a>
        </li>
      </ul>
      <ul class="p-menu__subList">
        <li class="p-menu__subItem">
          <a class="p-menu__subLink" href="#">
            <img src="./assets/images/header/access.png" alt="アクセス">
            アクセス
          </a>
        </li>
        <li class="p-menu__subItem">
          <a class="p-menu__subLink" href="#">
            <img src="./assets/images/header/student.png" alt="在校生">
            在校生の方へ
          </a>
        </li>
        <li class="p-menu__subItem">
          <a class="p-menu__subLink" href="#">
            <img src="./assets/images/header/notice.png" alt="卒業生">
            卒業生の方へ
          </a>
        </li>
        <li class="p-menu__subItem">
          <a class="p-menu__subLink" href="#">
            <img src="./assets/images/header/pamph.png" alt="資料請求">
            お問い合わせ
          </a>
        </li>
        <li class="p-menu__subItem">
          <a class="p-menu__subLink" href="#">
            <img src="./assets/images/header/recruit.png" alt="採用">
            採用
          </a>
        </li>
      </ul>
      <ul class="p-menu__list">
        <li class="p-menu__item">
          <div class="p-menu__link">
            <a class="p-menu__topLink" href="#">TOP</a>
          </div>
        </li>
        <li class="p-menu__item">
          <span class="p-menu__link">コース紹介</span>
          <ul class="p-menu__toggle">
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">英数特進コース</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">進学コース</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">国際コース</a></li>
          </ul>
        </li>
        <li class="p-menu__item">
          <span class="p-menu__link">教育内容</span>
          <ul class="p-menu__toggle">
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">国際交流</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">土曜講座</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">ICT</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">進学実績</a></li>
          </ul>
        </li>
        <li class="p-menu__item">
          <span class="p-menu__link">学校生活</span>
          <ul class="p-menu__toggle">
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">クラブ活動紹介</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">行事紹介</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">制服紹介</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">生徒の1日</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">施設紹介</a></li>
          </ul>
        </li>
        <li class="p-menu__item">
          <span class="p-menu__link">受験生の方</span>
          <ul class="p-menu__toggle">
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">募集要項</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">説明会日程</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">よくある質問</a></li>
            <li class="p-menu__topic"><a class="p-menu__topicLink" href="#">学校案内</a></li>
          </ul>
        </li>
        </ul>
    </div>
  </div>
</header>