<header class="l-header">
  <div class="l-header__title">
    <div class="l-header__logo"><div>
    <div class="l-header__highSchool">
      <h1 class="l-header__schoolName">八代正院高等学校</h1>
      <h2 class="l-header__nameLowercase">Yashirosyoin Gakuen</h2>
    </div>
    <div class="l-header__menuTrigger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>