.l-footer {
	position: relative;
  background-image: url('#{$bgPath}/lane.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 98.6vw;
  &:before {
    content: "";
    width: 98.6vw;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &__main {
    background-color: rgba(255, 255, 255, 0.9);
    width: 98.6vw;
  }
}
