.l-header {
  padding: 30px 15px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;

  &__title {
    display: flex;
    flex-flow: column;
    padding-left: 8px;
    height: 60px;
    width: 390px;
  }
  &__inner {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0,0,0,0 / 30%);
    height: 102px;
    width: 1287px;
    padding: 15px;
    position: relative;
  }
  &__logo {
    width: 66px;
    height: 66px;
  }
  &__schoolName {
    color: black;
    line-height: 40px;
  }
  &__nameLowercase {
    color: gray;
    line-height: 14px;
  }
}