.l-wrap {
  width: 98.6vw;
  padding-bottom: 75px;
  position: relative;
  border-left: 20px solid transparent;
  color: #4d4d4d;
  &::before {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    background-color: #0097e0;
    z-index: 10;
  }
}

@media only screen and (max-width: 767px) {
.l-wrap {
  border-left-width: 0;
  &:before {
    width: 10px;
    left: -10px;
  }
}
}