.l-wrap {
  width: 100vw;
  padding-bottom: 75px;
  position: relative;
  border-left: 20px solid transparent;
  right: 0;
  color: #4d4d4d;
  &:before {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    background-color: #0097e0;
    z-index: 10;
  }
}

@media only screen and (max-width: 767px) {
  .l-wrap {
    border-left: none;
    &:before {
      width: 0;
    }
  }
}