<% var title = "TOP"; var description = "トップのdescription"; %>
<% include src/ejs/template/_head %>
<div class="l-wrapper">
  <% include src/ejs/template/_header %>
  <div class="l-topHero">
    <div class="l-topHero__background">
      <img class="l-topHero__picture" src="" alt="生徒たち">
      <div class="l-topHero__boarder"></div>
    </div>
    <div class="l-topHero__eyecatch">
    </div>
  </div>
  <div class="l-contents">
    <main class="l-main">
    </main>
  </div>
</div>
<% include src/ejs/template/_footer %>
