<% var title = "TOP"; var description = "トップのdescription"; %>
<% include src/ejs/template/_head %>

<% var intro = [
  {text: "英数特進コース紹介" , image: "bricks.jpg" },
  {text: "進学コース紹介" , image: "bricks.jpg" },
  {text: "国際コース紹介" , image: "bricks.jpg" }
]; -%>

<% include src/ejs/template/_header %>
<main class="l-main">

  <div class="p-topHero">
    <div class="p-topHero__carousel">
      <ul class="p-topHero__item">
        <li>
          <img src="./assets/images/topHero.jpg" alt="生徒たち">
        </li>
        <li>
          <img src="./assets/images/lane.jpg" alt="木々">
        </li>
        <li>
          <img src="./assets/images/topHero.jpg" alt="生徒たち">
        </li>
        <li>
          <img src="./assets/images/lane.jpg" alt="木々">
        </li>
      </ul>
    </div>
    <div class="p-topHero__boarder"></div>
    <div class="p-carousel">
      <div class="p-carousel__box">
        <ul class="p-carousel__eyeCatch">
          <% intro.forEach(function(introduce) { %>
          <li class="p-carousel__item">
            <a class="p-carousel__link" href="#">
              <div class="p-carousel__picture">
                <img src="./assets/images/<%= introduce.image %>" alt="学校紹介">
                <span class="p-carousel__prev">←</span>
                <span class="p-carousel__next">→</span>
              </div>
              <div class="p-carousel__text">
                <%= introduce.text %>
              </div>
            </a>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>

  <div class="p-contents__newsWrap">
    <div class="p-contents__titleWrap">
      <h3 class="p-contents__title">
        <span class="p-contents__category">News</span>
      </h3>
    </div>
    <div class="p-contents__body">
      <div class="p-contents__news">
        <a class="p-contents__headline" href="#">
          <span>2021/12/1</span><span>やしろテレビ「きらり人☆」に出演</span>
        </a>
        <a class="p-contents__headline" href="#">
          <span>2021/11/23</span><span>NSKBK1「喜劇のレッスン」に本校2年生が出演予定</span>
        </a>
        <a class="p-contents__headline" href="#">
          <span>2021/10/13</span><span>11月・12月のオンライン入試説明会の申し込みについて</span>
        </a>
        <a class="p-contents__headline" href="#">
          <span>2021/9/9</span><span>新型コロナウイルスへの対策について</span>
        </a>
        <a class="p-contents__headline" href="#">
          <span>2021/9/1</span><span>YASHIRO SPECIAL STAGEのお知らせ</span>
        </a>
      </div>
    </div>
    <div class="p-contents__btnWrap">
      <a class="p-contents__btn" href="#">
        News記事一覧
      </a>
    </div>
  </div>

  <div class="p-contents__blogWrap">
    <div class="p-contents__blogBoarder"></div>
    <div class="p-contents__titleWrap">
      <h4 class="p-contents__title">
        <span class="p-contents__category">Blog</span>
      </h4>
    </div>
    <div class="p-blog">
      <ul class="p-blog__index clearfix">
        <li class="p-blog__category">すべて</li>
        <li class="p-blog__category">YASHIRO Now</li>
        <li class="p-blog__category">スポーツ系クラブ</li>
        <li class="p-blog__category">文化系クラブ</li>
      </ul>
      <div class="p-blog__contentsWrap">
        <ul class="p-blog__list">
          <li class="p-blog__contentsCover">
            <div class="p-blog__contents">
              <div class="p-blog__thumb">
                <div class="p-blog__hover">
                  <span>この記事を見る</span>
                </div>
              </div>
              <div class="p-blog__text">
                <div class="p-blog__textInner">
                  <div class="p-blog__date">2021/12/1</div>
                  <div class="p-blog__tagList">
                    <div class="p-blog__tag">Blog</div>
                    <div class="p-blog__tag">YASHIRO Now</div>
                  </div>
                  <div class="p-blog__title">
                    Chromebookを活用した授業
                  </div>
                  <div class="p-blog__excerpt">
                    本校では、生徒へひとり1台Chromebookを配布しており、それを活用して毎日多様な学習を行っています。今回はその中から、1年生の英語の授業をご紹介します。…
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="p-blog__contentsCover">
            <div class="p-blog__contents">
              <div class="p-blog__thumb">
                <div class="p-blog__hover">
                  <span>この記事を見る</span>
                </div>
              </div>
              <div class="p-blog__text">
                <div class="p-blog__textInner">
                  <div class="p-blog__date">2021/12/1</div>
                  <div class="p-blog__tagList">
                    <div class="p-blog__tag">Blog</div>
                    <div class="p-blog__tag">YASHIRO Now</div>
                    <div class="p-blog__tag">陸上競技</div>
                    <div class="p-blog__tag">スポーツ系クラブ</div>
                  </div>
                  <div class="p-blog__title">
                    陸上競技部  やしろテレビ
                  </div>
                  <div class="p-blog__excerpt">
                    11月30日  早いもので、11月も最終日。2学期期末試験1週間前となりました。朝の冷え込みが日ごと増す中、陸上部員は元気に朝練習に励んでいます。一日の練習…
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="p-blog__contentsCover">
            <div class="p-blog__contents">
              <div class="p-blog__thumb">
                <div class="p-blog__hover">
                  <span>この記事を見る</span>
                </div>
              </div>
              <div class="p-blog__text">
                <div class="p-blog__textInner">
                  <div class="p-blog__date">2021/11/28</div>
                  <div class="p-blog__tagList">
                    <div class="p-blog__tag">Blog</div>
                    <div class="p-blog__tag">YASHIRO Now</div>
                    <div class="p-blog__tag">文化系クラブ</div>
                  </div>
                  <div class="p-blog__title">
                    吹奏楽部  千葉県音楽祭連合音楽会出演
                  </div>
                  <div class="p-blog__excerpt">
                    私たち八代正院高等学校吹奏楽部は、11月20日に若葉の里公園芸術文化ホールにて行われた第39回千葉県音楽祭と、11月24日に千葉文化ホールにて行われた第46回…
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-contents__btnWrap">
      <a class="p-contents__btn" href="#">
        Blog記事一覧
      </a>
    </div>
  </div>

  <div class="p-contents__curriWrap">
    <div class="p-contents__titleWrap">
      <h5 class="p-contents__title">
        <span class="p-contents__category">教育内容</span>
      </h5>
    </div>
    <div class="p-curri">
      <div class="p-curri__contents">
        <div class="p-curri__schoolName">
          YASHIROSHOIN's<br>CURRICULUM
        </div>
      </div>
      <div class="p-curri__contents">
        <a class="p-curri__box" href="#">
          <div class="p-curri__thumb">
            <img src="./assets/images/people.jpg" alt="カリキュラム">
            <div class="p-curri__thumbTitle">
              英数特進コース
            </div>
            <div class="p-curri__thumbLink">
              READ MORE
            </div>
          </div>
          <div class="p-curri__course">
            <div class="p-curri__courseTitle">
              英数特進コース
            </div>
            <div class="p-curri__intro">
              英語と数学をキーに、未来を切り拓く。<br>持ち味を最大限に伸ばすカリキュラムに、進学補講（ESTゼミ）を加え、徹底的に学力を伸ばす新たなコースが誕生します！
            </div>
          </div>
        </a>
      </div>
      <div class="p-curri__contents">
        <a class="p-curri__box" href="#">
          <div class="p-curri__thumb">
            <img src="./assets/images/library.jpg" alt="カリキュラム">
            <div class="p-curri__thumbTitle">
              <span>進学コース</span>
            </div>
            <div class="p-curri__thumbLink">
              READ MORE
            </div>
          </div>
          <div class="p-curri__course">
            <div class="p-curri__courseTitle">
              進学コース
            </div>
            <div class="p-curri__intro">
              独自の習熟度別クラスや、幅広い選択科目制カリキュラム、大学卒業後まで見据えた進路指導などにより、一人ひとりの学力と個性を伸ばします。
            </div>
          </div>
        </a>
      </div>
      <div class="p-curri__contents">
        <a class="p-curri__box" href="#">
          <div class="p-curri__thumb">
            <img src="./assets/images/people.jpg" alt="カリキュラム">
            <div class="p-curri__thumbTitle">
              国際コース
            </div>
            <div class="p-curri__thumbLink">
              READ MORE
            </div>
          </div>
          <div class="p-curri__course">
            <div class="p-curri__courseTitle">
              国際コース
            </div>
            <div class="p-curri__intro">
              国際コースでは、多様化する大学入試への対応はもちろん、さらにその先を見据えて、将来のグローバル社会でも活躍できる国際的な視野や、豊かな知性と人間性を育んでいます。
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="p-contents__briefingWrap">
    <div class="p-contents__titleWrap">
      <h6 class="p-contents__title">
        <span class="p-contents__category">説明会</span>
      </h6>
    </div>
    <div class="p-briefing__wrap">
      <div class="p-briefing__box">
        今年度の説明会は全て終了しました。
      </div>
      <div class="p-contents__btnWrap">
        <a class="p-contents__btn" href="#">
          READ MORE
        </a>
      </div>
    </div>
  </div>
</main>
<% include src/ejs/template/_footer %>
<% include src/ejs/template/_common %>