.p-blog  {
  position: relative;
  padding: 50px 0 65px 40px;

  &__index {
    margin: 0;
    padding: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &__category {
    display: inline-block;
    margin-right: 30px;
    min-width: 180px;
    position: relative;
    padding: 0 0 2px 5px;
    cursor: pointer;
    font-size: 1.4rem;
    &:before {
      content: "";
      width: 180px;
      height: 10px;
      border: 1px  solid #ddd;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &__contentsWrap {
    margin-top: 70px;
    width: 100%;
  }
  &__contentsWrap .p-blog__slide li {
    margin-right: 25px;
  }
  &__contentsArea.active .p-blog__contentsCover {
    display: block;
    width: 33vw;
    max-width: 437px;
    height: 100%;
    margin: 0 30px;
    min-height: 1px
  }
  &__contentsArea.active .p-blog__slide {
    display: flex;
  }
  &__contents {
    display: block;
    background-color: #fff;
    height: 100%;
    width: 100%;
  }
  &__contents:hover .p-blog__hover {
    opacity: 1;
  }
  &__contents:hover .p-blog__thumb:before {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  &__thumb {
    padding-bottom: 66.6666666666666%;
    width: 100%;
    background-image: url('#{$bgPath}/whiteboard.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    &:before {
      content: "";
      width: 2px;
      height: 40px;
      background-color: #0097e0;
      position: absolute;
      left: 50%;
      bottom: -20px;
      margin-left: -1px;
      transition: all .5s;
    }
  }
  &__hover {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    opacity: 0;
    transition: all .5s;
  }
  &__textInner {
    height: 250px;
    padding: 30px 15px;
  }
  &__date {
    padding-left: 20px;
    position: relative;
    font-size: 1.2rem;
    &:before {
      content: "";
      width: 15px;
      height: 1px;
      background-color: #666;
      left: 0;
      top: 50%;
      margin-top: -1px;
      position: absolute;
    }
  }
  &__tagList {
    font-size: 0;
    margin-top: 5px;
  }
  &__tag {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2rem;
    background-color: #0097e0;
    color: #fff;
    padding: 0 5px;
    transition: all .5s;
    cursor: pointer;
  }
  &__title {
    margin-top: 10px;
    font-size: 1.4rem;
  }
  &__excerpt {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #888;
  }
}

.p-blog .slick-list {
  width: 100%;
}

.p-blog__contentsArea.active {
  display: block;
  left: 0;
}

.p-blog__contentsArea {
  display: none;
}

.p-blog__category.active {
  display: inline-block;
  margin-right: 30px;
  min-width: 180px;
  position: relative;
  padding: 0 0 2px 5px;
  cursor: pointer;
  &:before {
    content: "";
    width: 180px;
    height: 10px;
    border: 1px  solid #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    border-color: #0097e0;
    background-color: #0097e0;
    z-index: -1;
  }
  &:after {
    content: "";
    width: 2px;
    height: 40px;
    background-color: #0097e0;
    position: absolute;
    bottom: -50px;
    left: 15px;
  }
}

@media only screen and (max-width: 1023px) {
.p-blog {
  &__contentsCover {
    display: block;
    width: 30vw;
    height: 100%;
    margin: 0 8px;
    min-height: 1px;
    padding: 0;
  }
  &__contents {
    width: 30vw;
    padding: 0;
    margin: 0;
  }
  .p-blog__category.active {
    &:after {
      display: none;
    }
  }
  }
}

@media only screen and (max-width: 767px) {
  .p-blog {
    padding: 30px 0 45px 30px;

    &__contentsWrap {
      margin-top: 30px;
      right: 0;
    }
    &__index {
      margin: 0 5px;
    }
    &__index li {
      display: block;
      width: 50%;
      float: left;
      min-width: 0;
      margin: 0;
      padding: 0 10px;
      &:before {
        content: "";
        height: 10px;
        border: 1px solid #ddd;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: auto;
        left: 10px;
        right: 10px;
      }
    }
    &__category.active {
      display: block;
      width: 50%;
      float: left;
      min-width: 0;
      margin: 0;
      padding: 0 10px;
      &::before {
        width: auto;
        left: 10px;
      }
    }
    &__contentsWrap li {
      margin-right: 15px;
    }
    &__contentsCover {
      display: block;
      width: 40vw;
      height: 100%;
      margin: 0 10px;
      min-height: 1px;
      padding: 0;
    }
    &__contents {
      width: 40vw;
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .p-blog {
    &__contentsWrap ul {
      margin-left: 10px;
    }
    &__contentsCover {
      display: block;
      width: 60vw;
      height: 100%;
      margin: 0 10px;
      min-height: 1px;
      padding: 0;
    }
    &__contents {
      width: 60vw;
      padding: 0;
      margin: 0;
    }
    &__textInner {
      height: 290px;
      padding: 30px 15px;
    }
  }
}