.p-blog  {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  &__index {
    margin: 0;
    padding: 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &__category {
    display: inline-block;
    margin-right: 30px;
    min-width: 180px;
    position: relative;
    padding: 0 0 2px 5px;
    cursor: pointer;
    font-size: 1.4rem;
    &:before {
      content: "";
      width: 180px;
      height: 10px;
      border: 1px  solid #ddd;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &__contentsWrap {
    margin-top: 60px;
    &.active {
      display: block;
    }
  }
  &__contentsCover {
    display: block;
    width: 40vw;
    height: 100%;
    padding: 0 30px;
    min-height: 1px
  }
  &__contents {
    display: block;
    background-color: #fff;
    height: 100%;
  }
  &__thumb {
    padding-bottom: 66.6666666666666%;
    background-image: url(../../assets/images/whiteboard.jpg);
    background-position: center;
    position: relative;
    &:before {
      content: "";
      width: 2px;
      height: 60px;
      background-color: #0097e0;
      position: absolute;
      left: 50%;
      bottom: -30px;
      margin-left: -1px;
      transition: all .5s;
    }
  }
  &__thumbChange {
    padding-bottom: 66.6666666666666%;
    background-image: url(../../assets/images/bricks.jpg);
    background-position: center;
    position: relative;
    &:before {
      content: "";
      width: 2px;
      height: 60px;
      background-color: #0097e0;
      position: absolute;
      left: 50%;
      bottom: -30px;
      margin-left: -1px;
      transition: all .5s;
    }
  }
  &__hover {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    opacity: 0;
    transition: all .5s;
  }
  &__textInner {
    height: 232px;
    padding: 30px 15px;
  }
  &__date {
    padding-left: 20px;
    position: relative;
    font-size: 1.2rem;
    &:before {
      content: "";
      width: 15px;
      height: 1px;
      background-color: #666;
      left: 0;
      top: 50%;
      margin-top: -1px;
      position: absolute;
    }
  }
  &__tagList {
    font-size: 0;
    margin-top: 5px;
  }
  &__tag {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2rem;
    background-color: #0097e0;
    color: #fff;
    padding: 0 5px;
    transition: all .5s;
    cursor: pointer;
  }
  &__title {
    margin-top: 10px;
    font-size: 1.4rem;
  }
  &__excerpt {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #888;
  }
}

.p-blog__contentsWrap ul {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
}
.p-blog__hidden {
  display: none;
}
.p-blog__hidden > li {
  display: none;
}

.change {
  display: inline-block;
  margin-right: 30px;
  min-width: 180px;
  position: relative;
  padding: 0 0 2px 5px;
  cursor: pointer;
  &:before {
    content: "";
    width: 180px;
    height: 10px;
    border: 1px  solid #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    border-color: #0097e0;
    background-color: #0097e0;
    z-index: -1;
  }
  &:after {
    content: "";
    width: 2px;
    height: 40px;
    background-color: #0097e0;
    position: absolute;
    bottom: -50px;
    left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .p-blog {
    padding-right: 0;
    &__index {
      margin: 0 5px;
    }
    &__index li {
      display: block;
      width: 50%;
      float: left;
      min-width: 0;
      margin: 0;
      padding: 0 10px;
      &:before {
        content: "";
        width: 180px;
        height: 10px;
        border: 1px solid #ddd;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: auto;
        left: 10px;
        right: 10px;
      }
    }
    &__index li:nth-of-type(2n+1) {
      clear: both;
    }
    &__contentsWrap {
      margin-top: 30px;
      right: 0;
    }
    &__contentsCover {
      display: block;
      width: 60vw;
      height: 100%;
      margin: 0 5px;
      min-height: 1px;
      padding: 0;
    }
    &__contents {
      width: 60vw;
      padding: 0;
      margin: 0;
    }
  }
  .change:after {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .p-blog {
    &__contentsWrap ul {
      margin-left: 10px;
    }
  }
}