.p-briefing {
  &__wrap {
    width: 100%;
    padding: 0 30px;
  }
  &__box {
    padding: 60px 15px;
    background-color: #eee;
    text-align: center;
    font-size: 2rem;
  }
  &__box span {
    display: inline-block;
    text-align: left;
  }
}