.p-common {
  &__fixedLink {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 20px;
    right: 0;
    background-color: rgba(230, 230, 230, 0.9);
    border-top: solid 5px #0097e0;
    padding: 10px;
  }
  &__linkBox {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: center;
  }
  &__linkItem {
    width: 25%;
    padding: 0 5px;
  }
  &__linkItem a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 60px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #0097e0;
    color: inherit;
    line-height: 1.3;
  }
}