.p-footer {
  &__banner {
    position: relative;
    display: block;
    padding: 75px 35px;
    width: 100%;
    overflow: visible;
  }
  &__bannerList {
    height: 102px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    &:before {
      content: "";
      display: table;
    }
  }
  &__bannerBox {
    display: table;
    width: 295px;
    height: 102px;
    min-height: 1px;
    padding: 15px;
    float: left;
    margin-left: 30px;
    background-color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
  &__bannerInner {
    width: 265px;
    height: 72px;
    border: solid;
    border-color: rgb(209, 209, 209);
    background-color: #fff7ec;
    display: flex;
    position: relative;
  }
  &__bannerText {
    position: absolute;
    top: 12%;
    margin-left: 10px;
    font-size: 18px;
    color: #412525;
    font-family: "TsukuARdGothic-Regular";
  }
  &__bannerIcon {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 8.7%;
    left: 9.8%;
    background-image: url('#{$bgPath}/footer/search.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(85%) sepia(50%) saturate(0%) hue-rotate(229deg) brightness(160%) contrast(101%);
    z-index: 6;
  }
  &__bannerLogoColor {
    position: absolute;
    border-radius: 50%;
    background-color: #9c7a75;
    width: 45px;
    height: 45px;
    right: 0;
    top: 15%;
    margin-right: 15px;
    z-index: 5;
  }
  &__nc {
    height: 72px;
    background-color: #0CCAA0;
    display: flex;
    flex-direction: column;
  }
  &__ncHead {
    height: 24px;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
  }
  &__ncText {
    height: 48px;
    position: relative;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #fff;
  }
  &__ncLogo {
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url('#{$bgPath}/header/emblem.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 4px;
    margin-left: 10px;
    filter: invert(85%) sepia(50%) saturate(0%) hue-rotate(229deg) brightness(160%) contrast(101%);
  }
  &__ncNameWrap {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-bottom: 15px;
  }
  &__ncNameWrap span:first-of-type {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    font-size: 21px;
    top: -5px;
  }
  &__ncLowercase {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    font-size: 8px;
    margin-top: 26.5px;
  }
  &__topList {
    text-align: center;
    font-size: 0;
    border-bottom: 1px solid #aaa;
    padding: 0 15px;
  }
  &__topList li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #4d4d4d;
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: center center;
    transform: translateY(-50%) rotate(45deg);
  }
  &__topLink {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  &__topLinkText {
    display: block;
    font-size: 1.2rem;
    padding: 15px;
  }
  &__middle {
    padding: 15px 15px 15px;
    text-align: center;
  }
  &__inner {
    max-width: 390px;
    margin: 0 auto;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      padding-bottom: calc(60 / 390 * 100%);
    }
  }
  &__titleWrap {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
  }
  &__logo {
    display: inline-block;
    width: 75px;
    height: 100%;
    top: 32%;
    margin-top: 6px;
    left: 15px;
    background-image: url('#{$bgPath}/header/emblem.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    height: 100%;
    margin-left: 11px;
  }
  &__schoolName {
    white-space: nowrap;
    color: $colorBlack;
    font-size: 4rem;
  }
  &__nameLowercase {
    white-space: nowrap;
    color: gray;
    font-size: 2rem;
    float: left;
  }
  &__address {
    margin-top: 110px;
  }
  &__siteInfo {
    text-align: center;
    padding-bottom: 8px;
  }
  &__siteInfo a {
    display: inline-block;
    font-size: 1.2rem;
    color: inherit;
    position: relative;
    padding: 0 10px;
  }
  &__siteInfo a:nth-of-type(n+2) {
    border-left: 1px solid #aaa;
  }
  &__copyright {
    text-align: center;
    font-size: 1.1rem;
    background-color: #1f5ab2;
    color: #fff;
    padding: 0 0 7px;
    width: 100%;
  }
  &__goToTop {
    opacity: 0.65;
    position: fixed;
    bottom: 100px;
    right: 5px;
    cursor: pointer;
    width: 85px;
    height: 85px;
    transition: all .5s;
    border-radius: 5px;
    background-color: rgba(77,77,77,1);
    z-index: 10;
    &:after {
      content: "";
      position: absolute;
      left: 29.8%;
      top: 39.8%;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 18.5px solid $colorWhite;
    }
  }
}

@media only screen and (max-width: 767px) {
  .p-footer {
    &__goToTop {
      width: 50px;
      height: 50px;
      &:after {
        left: 10px;
        top: 29%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 16px solid $colorWhite;
      }
    }
    &__banner {
      padding: 45px 35px;
    }
    &__bannerBox {
      padding: 0;
    }
    &__inner {
      padding: 0 30px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .p-footer {
    &__inner {
      max-width: 300px;
      margin: 0 auto;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        padding-bottom: calc(60 / 300 * 100%);
      }
    }
    &__titleWrap {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 30px;
      left: 15px;
      transform: translateY(-50%);
      display: flex;
    }
    &__logo {
      display: inline-block;
      width: 40px;
      height: 100%;
      top: 32%;
      margin-top: 6px;
      left: 15px;
      background-image: url('#{$bgPath}/header/emblem.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__title {
      height: 100%;
      margin-left: 8px;
    }
    &__schoolName {
      white-space: nowrap;
      color: $colorBlack;
      font-size: 2.5rem;
    }
    &__nameLowercase {
      white-space: nowrap;
      color: gray;
      font-size: 1.3rem;
      float: left;
    }
    &__address {
      margin-top: 70px;
    }
  }
}