.p-footer {
  &__banner {
    padding: 50px 90px;
    margin: 0;
    overflow: visible;
  }
  &__banner .slick-track {
    margin-left: 0!important;
    margin-right: auto!important;
  }
  &__bannerBox {
    float: left;
  }
  &__cell span {
    display: flex;
    justify-content: center;
    align-items: center!important;
    padding: 0;
    margin-right: 15px;
    height: 150px;
  }
  &__bannerIcon img {
    display: block;
    width: 100%;
    object-fit: cover;
    &:hover {
      opacity: 0.8;
    }
  }
  &__topList {
    text-align: center;
    font-size: 0;
    border-bottom: 1px solid #aaa;
    padding: 0 15px;
  }
  &__topList li:not(:last-child):after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #4d4d4d;
    position: absolute;
    top: 50%;
    right: 0;
    transform-origin: center center;
    transform: translateY(-50%) rotate(45deg);
  }
  &__topLink {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  &__topLinkText {
    display: block;
    font-size: 1.2rem;
    padding: 15px;
    &:hover {
      color: #3268D9;;
    }
  }
  &__middle {
    padding: 15px 15px 15px;
    text-align: center;
  }
  &__inner {
    max-width: 390px;
    margin: 0 auto;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      padding-bottom: calc(60 / 390 * 100%);
    }
  }
  &__titleWrap {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
  }
  &__logo {
    display: inline-block;
    width: 75px;
    height: 100%;
    top: 32%;
    margin-top: 6px;
    left: 15px;
    background-image: url('#{$bgPath}/header/emblem.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    height: 100%;
    margin-left: 11px;
  }
  &__schoolName {
    white-space: nowrap;
    color: $colorBlack;
    font-size: 4rem;
  }
  &__nameLowercase {
    white-space: nowrap;
    color: gray;
    font-size: 2rem;
    float: left;
  }
  &__address {
    margin-top: 110px;
  }
  &__siteInfo {
    text-align: center;
    padding-bottom: 8px;
  }
  &__siteInfo a {
    display: inline-block;
    font-size: 1.2rem;
    color: inherit;
    position: relative;
    padding: 0 10px;
    &:hover {
      color: #3268D9;;
    }
  }
  &__siteInfo a:nth-of-type(n+2) {
    border-left: 1px solid #aaa;
  }
  &__copyright {
    text-align: center;
    font-size: 1.1rem;
    background-color: #1f5ab2;
    color: #fff;
    padding: 0 0 11px;
    width: 100%;
  }
  &__goToTop {
    opacity: 0.65;
    position: fixed;
    bottom: 100px;
    right: 5px;
    cursor: pointer;
    width: 85px;
    height: 85px;
    transition: all .5s;
    border-radius: 5px;
    background-color: rgba(77,77,77,1);
    z-index: 10;
    &:after {
      content: "";
      position: absolute;
      left: 29.8%;
      top: 39.8%;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 18.5px solid $colorWhite;
    }
  }
}

@media only screen and (max-width: 767px) {
  .p-footer {
    &__banner {
      padding: 60px 30px;
    }
    &__cell span {
      padding: 0;
      margin-right: 0;
      height: 120px;
    }
    &__prev {
      left: 0;
    }
    &__next {
      right: 0;
    }
    &__goToTop {
      width: 50px;
      height: 50px;
      &:after {
        left: 10px;
        top: 29%;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 16px solid $colorWhite;
      }
    }
    &__inner {
      padding: 0 30px;
    }
    &__copyright {
      padding: 0 0 3px;
    }
  }
}

@media only screen and (max-width: 660px) {
  .p-footer {
    &__banner {
      padding: 50px 30px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .p-footer {
    &__inner {
      max-width: 300px;
      margin: 0 auto;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        padding-bottom: calc(60 / 300 * 100%);
      }
    }
    &__titleWrap {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 30px;
      left: 15px;
      transform: translateY(-50%);
      display: flex;
    }
    &__logo {
      display: inline-block;
      width: 40px;
      height: 100%;
      top: 32%;
      margin-top: 6px;
      left: 15px;
      background-image: url('#{$bgPath}/header/emblem.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &__title {
      height: 100%;
      margin-left: 8px;
    }
    &__schoolName {
      white-space: nowrap;
      color: $colorBlack;
      font-size: 2.5rem;
    }
    &__nameLowercase {
      white-space: nowrap;
      color: gray;
      font-size: 1.3rem;
      float: left;
    }
    &__address {
      margin-top: 70px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .p-footer {
    &__banner {
      padding: 50px;
    }
    &__cell span {
      width: 100%;
      height: auto;
      margin-right: 0;
    }
    &__banner .slick-arrow {
      position: absolute;
      background-color: rgb(150, 150, 150);
      width: 40px;
      height: 60px;
      top: 50%;
      z-index: 1;
      cursor: pointer;
      background-position: center;
      background-size: 12px auto;
      background-repeat: no-repeat;
    }
    &__prev {
      left: 0;
      transform: translate(-1px, -50%);
      background-image: url('#{$bgPath}/prev.png');
    }
    &__next {
      right: 0;
      transform: translate(1px, -50%);
      background-image: url('#{$bgPath}/next.png');
    }
    &__banner .slick-slider {
      margin: 0 auto;
    }
  }
}