.p-topHero {
  position: relative;
  padding: 0;
  min-height: 640px;
}

@media only screen and (max-width: 1280px) {
  .p-topHero {
    padding: 0;
    min-height: 600px;
  }
}

.p-topHero__sub {
  position: relative;
  max-width: 480px;
  margin: 0 30px;
  top: -310px;
}

.p-topHero__subBox {
  position: relative;
  padding: 30px 20px 60px 0;
  display: block;
  &:before {
    content: "";
    position: absolute;
    top: 90px;
    bottom: 60px;
    left: 60px;
    right: 20px;
    background-color: #0097e0;
    z-index: -1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: all .5s;
  }
}

.p-topHero__subNum {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 7rem;
  color: #c2eded;
  z-index: 1;
  line-height: 1;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    right: -5px;
    top: 15px;
    background-color: #0097e0;
  }
}
.p-topHero__subWrap {
  margin-right: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.p-topHero__subWrap .p-topHero__subImg {
  padding-bottom: 56.25%;
}

.p-topHero__subImg {
  position: relative;
  overflow: hidden;
}

.p-topHero__subImg img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  transition: all .5s;
}

.p-topHero__prev {
  left: 0;
  transform: translate(-1px, -50%);
  background-image: url('#{$bgPath}/prev.png');
}
.p-topHero__next {
  right: 0;
  transform: translate(1px, -50%);
  background-image: url('#{$bgPath}/next.png');
}

.p-topHero__sub .slick-arrow {
  position: absolute;
  background-color: #444;
  width: 40px;
  height: 60px;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  background-position: center;
  background-size: 12px auto;
  background-repeat: no-repeat;
}

.p-topHero__subText {
  padding: 30px 30px 30px 90px;
  color: #fff;
}
.p-topHero__sub .slick-prev,
.p-topHero__sub .slick-next {
  top: auto;
  bottom: 60px;
  transform: none;
  background-position: center;
}
.p-topHero__sub .slick-prev {
  left: 60px;
}
.p-topHero__sub .slick-next {
  right: 20px;
}
.p-topHero__subBox:hover:before {
  background-color: #c2eded;
}
.p-topHero__subBox:hover .p-topHero__subWrap img {
  transform: translate(-50%,-50%) scale(1.2);
}


@media only screen and (max-width: 767px) {
  .p-topHero__sub {
    max-width: none;
    margin: -32vw auto 0;
    top: -150px;
  }
  .p-topHero__subBox {
    padding: 30px 0 0;
    &:before {
      bottom: 0;
      left: 0;
      right: 0;
      top: 32vw;
    }
  }
  .p-topHero__subNum {
    left: 15px;
  }
  .p-topHero__subWrap {
    margin: 0 15px;
  }
}